In [1]:
DATA_PATH = '../../data/CRTS2/'

In [2]:
import requests
import pandas as pd
from lxml import html

Retrieve catalog auxiliary method

In [3]:
def __retrieve_object_catalog__(url):
    transID_list, class_list = [], []

    r = requests.get(url)
    tree = html.fromstring(r.content)
    rows = tree.findall('.//tr')[1:]
    
    for row in rows:
        vals = row.findall('td')
        if len(vals) < 4: continue
        transID = int(vals[5].text_content().strip(' \t\n\r'))
        clss = vals[12].text_content().strip(' \t\n\r').split(' ')[0]

        class_list.append(clss); transID_list.append(transID)

    data = {'TransientID' : transID_list, 'Classification' : class_list}
    return pd.DataFrame(data)

Obtain catalog and save

In [10]:
filename = 'transient_catalog.pickle'
outdir = DATA_PATH; filepath = outdir + filename
df = pd.DataFrame()
df = __retrieve_object_catalog__('http://nesssi.cacr.caltech.edu/catalina/Allns.arch.html')
df['Classification'] = df.apply(lambda row: row.Classification[0].upper() + row.Classification[1:], axis=1)
df.to_pickle(filepath)

Display catalog overview

In [11]:
print('Shape: ', df.shape)
df.head(10)

Shape:  (5540, 2)

  Classification          TransientID
0          Flare  1611101400424116462
1            HPM  1611101210274176502
2            HPM  1611101150154137989
3            HPM  1611091630244128695
4             CV  1611091600294129774
5            HPM  1611091350304122705
6             SN  1611091210484112960
7             SN  1611091120214135441
8            HPM  1611091120214104142
9             CV  1611091010464105145