In [50]:
import pandas as pd
import numpy as np

Load transient lightcurves (TransientID)

In [80]:
filename = 'transient_lightcurves.pickle'
indir = '../../data/CRTS2/'; filepath = indir + filename
df_tran = pd.read_pickle(filepath)
df_tran.shape

(451474, 4)

Load transient lightcurves from alternative source (by CatalinaID)

In [81]:
filename = 'all_transients_light_curves.pickle'
indir = '../../data/CRTS/catalogues/lightcurves/grouped/'; filepath = indir + filename
df_alt = pd.read_pickle(filepath)
df_alt.shape

(1017388, 9)

Load .out file that relates CatalinaID with TransientID

In [82]:
df_out = pd.read_csv('../../data/CRTS2/raw/' + 'all.out')
df_out.shape

(4280, 5)

Relate CatalinaID with TransientID

In [86]:
# Find duplicates for transient lightcurves
df_dupl = df_tran[df_tran.duplicated(['TransientID', 'MJD'], keep=False)].sort_values('MJD')

In [87]:
# Pick the first TransientID of the duplicated lightcurves DataFrame
transID = df_dupl.iloc[0].TransientID

In [88]:
# Display all duplicates for transients with TransientID == transID
df_dupl[df_dupl.TransientID == transID].head()

                TransientID      Mag    Magerr           MJD
190840  1203270010604115428  18.7012  0.187324  53464.266987
190841  1203270010604115428  18.7009  0.187299  53464.266987
190845  1203270010604115428  18.8835  0.204526  53464.291189
190844  1203270010604115428  19.4065  0.266685  53464.291189
190863  1203270010604115428  19.7375  0.269122  53494.255112

In [89]:
# Obtain the first CatalinaID related to TransientID=transID
catalID = df_out[df_out.TransientID == transID].iloc[0].CatalinaID.astype(np.int64)
catalID = str(catalID)
catalID

'1001060022535'

In [90]:
# Display all lightcurves with ID=catalID, where Blend(flag)=1
df[(df.ID == catalID) & (df.Blend == 1)].sort_values('MJD').head()

,ObjectID,ID,Mag,Magerr,RA,Decl,MJD,Blend,Date
65663,976,1001060022535,19.23,0.19,166.33387,-1.86792,53464.26699,1,2005-04-04 06:24:27.936
65667,976,1001060022535,19.41,0.20,166.33355,-1.86797,53464.29119,1,2005-04-04 06:59:18.816
65686,976,1001060022535,18.96,0.18,166.33401,-1.86798,53494.25511,1,2005-05-04 06:07:21.504
65688,976,1001060022535,19.30,0.21,166.33397,-1.86822,53494.26314,1,2005-05-04 06:18:55.296
65683,976,1001060022535,19.57,0.23,166.33339,-1.86799,53530.17226,1,2005-06-09 04:08:03.264

Observations with Blend==1 values have dates that coincide with the duplicated rows. Since row with Blend==1 is more similar to second row of every duplicate in transient_lightcurves, only first is taken into account.