In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
from tools import download, time, visualize
import matplotlib as mpl
mpl.rcParams['figure.figsize'] = (10,10)

## 1. Load Transient Object Data

#### Load Transient Objects Catalogue

In [3]:
df_transients = time.time(
    download.all_transients_catalog,
    overwrite=False
)

0:00:00.006095

In [4]:
df_transients.head()

                           clas         date       dec         ra        type
0              SN SDSS mag 20,8  20161109.49  20.60814  142.63453  SUPERNOVAE
1      SN (ATLAS16dsr) SDSS mag  20161109.24  13.91412   57.65194  SUPERNOVAE
2      SN (ATLAS16dtz) mag 14,5  20161108.48  55.58309  141.31900  SUPERNOVAE
3               SN SDSS mag >22  20161107.28  23.18541   21.02794  SUPERNOVAE
4  SN (MLS161020) SDSS mag 21,4  20161106.22  20.34622   10.39148  SUPERNOVAE

#### Download Transients Light Curves

In [5]:
df_transient_light_curves = time.time(
    download.all_transients_light_curves,
    df_transients,
    overwrite=False
)

File all_transients_light_curves.pickle already exists
0:00:00.270957

In [6]:
df_transient_light_curves.head()

,ObjectID,ID,Mag,Magerr,RA,Decl,MJD,Blend,Date
0,0,1121048016831,21.15,0.52,142.63264,20.60759,53739.39280,0,2006-01-04 09:25:37.920
1,0,1121048016831,20.31,0.33,142.63520,20.60753,53761.33345,0,2006-01-26 08:00:10.080
2,0,1121048016831,20.73,0.45,142.63637,20.60929,53875.18592,0,2006-05-20 04:27:43.488
3,0,1121048016831,20.37,0.32,142.63480,20.60820,54054.46708,0,2006-11-15 11:12:35.712
4,0,1121048016831,20.44,0.36,142.63371,20.60857,54197.14661,0,2007-04-07 03:31:07.104

## 2. Download Permanent Objects Catalogue

#### Download Permanents Light Curves

In [7]:
df_permanent_light_curves = time.time(
    download.all_permanents_light_curves,
    transient_catalog_df = df_transients,
    transient_light_curves_df = df_transient_light_curves,
    overwrite=False
)

File all_permanents_light_curves.pickle already exists
0:42:19.458273

In [8]:
df_permanent_light_curves.head()

,InputID,ID,Mag,Magerr,RA,Decl,MJD,Blend,ObjectID,Date
0,0,1121048016765,21.12,0.52,142.63568,20.60292,53732.34137,0,0,2005-12-28 08:11:34.368
1,0,1121048016765,20.85,0.45,142.63479,20.60310,53788.24432,0,0,2006-02-22 05:51:49.248
2,0,1121048016765,21.05,0.46,142.63586,20.60366,54054.45393,0,0,2006-11-15 10:53:39.552
3,0,1121048016765,20.09,0.28,142.63416,20.60207,54116.34092,0,0,2007-01-16 08:10:55.488
4,0,1121048016765,20.35,0.33,142.63467,20.60352,54185.14450,0,0,2007-03-26 03:28:04.800

#### Load permanents Catalogue

In [9]:
df_permanents = time.time(
    download.all_permanents_catalog,
    permanents_light_curves_df = df_permanent_light_curves,
    overwrite=False
)

0:00:00.267086

In [10]:
df_permanents.head()

                  ra        dec       type
ObjectID
0         142.635106  20.602831  PERMANENT
1         142.635016  20.612634  PERMANENT
2          57.649949  13.919365  PERMANENT
3          57.651802  13.910762  PERMANENT
4          57.655226  13.915530  PERMANENT

## 2. Permanent Objects Catalogue Statistics

In [11]:
df_permanents.describe()

                 ra           dec
count  16940.000000  16940.000000
mean     159.829437      6.427869
std       94.382975     16.346272
min        0.075491    -66.638100
25%      101.637940     -5.217628
50%      158.588919      7.436576
75%      216.255824     18.000129
max      359.346913     68.356076

## 3. Permanent Objects Light Curves

In [12]:
df_permanent_light_curves.count()

InputID     1924409
ID          1924409
Mag         1924409
Magerr      1924409
RA          1924409
Decl        1924409
MJD         1924409
Blend       1924409
ObjectID    1924409
Date        1924409
dtype: int64

In [13]:
series_permanent_light_curves_grouped = df_permanent_light_curves.groupby(['ObjectID']).Mag.count()

In [14]:
series_permanent_light_curves_grouped.describe()

count    16940.000000
mean       113.601476
std        129.259273
min          1.000000
25%         16.000000
50%         61.000000
75%        176.000000
max       1266.000000
Name: Mag, dtype: float64

In [15]:
len(series_permanent_light_curves_grouped[series_permanent_light_curves_grouped > 10].index)

13679

## 4. Light Curves Visualization

#### Visualizing all permanent light curves

In [16]:
df_permanent_light_curves['Date'] = time.mjd_to_datetime(df_permanent_light_curves.MJD)

In [17]:
visualize.light_curve(df_permanent_light_curves, filename='permanents')

In [18]:
df_permanent_light_curves.head()

,InputID,ID,Mag,Magerr,RA,Decl,MJD,Blend,ObjectID,Date
0,0,1121048016765,21.12,0.52,142.63568,20.60292,53732.34137,0,0,2005-12-28 08:11:34.368
1,0,1121048016765,20.85,0.45,142.63479,20.60310,53788.24432,0,0,2006-02-22 05:51:49.248
2,0,1121048016765,21.05,0.46,142.63586,20.60366,54054.45393,0,0,2006-11-15 10:53:39.552
3,0,1121048016765,20.09,0.28,142.63416,20.60207,54116.34092,0,0,2007-01-16 08:10:55.488
4,0,1121048016765,20.35,0.33,142.63467,20.60352,54185.14450,0,0,2007-03-26 03:28:04.800

In [19]:
visualize.combined_light_curves(df_permanent_light_curves, n_obj=15, obj_type='permanents', min_obs=15)

/Users/diego/Documents/astro/venv/lib/python3.4/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=13057.0, right=13057.0

/Users/diego/Documents/astro/venv/lib/python3.4/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=13178.0, right=13178.0

/Users/diego/Documents/astro/venv/lib/python3.4/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=13206.0, right=13206.0

/Users/diego/Documents/astro/venv/lib/python3.4/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=13174.0, right=13174.0

/Users/diego/Documents/astro/venv/lib/python3.4/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=13467.0, right=13467.0

/Users/diego/Documents/astro/venv/lib/python3.4/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=13476.0, right=13476.0

/Users/diego/Documents/astro/venv/lib/python3.4/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=13583.0, right=13583.0

/Users/diego/Documents/astro/venv/lib/python3.4/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=13812.0, right=13812.0

/Users/diego/Documents/astro/venv/lib/python3.4/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=13618.0, right=13618.0

/Users/diego/Documents/astro/venv/lib/python3.4/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=13967.0, right=13967.0

/Users/diego/Documents/astro/venv/lib/python3.4/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=14215.0, right=14215.0

/Users/diego/Documents/astro/venv/lib/python3.4/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=15094.0, right=15094.0

/Users/diego/Documents/astro/venv/lib/python3.4/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=14566.0, right=14566.0

/Users/diego/Documents/astro/venv/lib/python3.4/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=15030.0, right=15030.0

/Users/diego/Documents/astro/venv/lib/python3.4/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=14575.0, right=14575.0

/Users/diego/Documents/astro/venv/lib/python3.4/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=15459.0, right=15459.0

/Users/diego/Documents/astro/venv/lib/python3.4/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=14377.0, right=14377.0

/Users/diego/Documents/astro/venv/lib/python3.4/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=15133.0, right=15133.0

/Users/diego/Documents/astro/venv/lib/python3.4/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=15243.0, right=15243.0

/Users/diego/Documents/astro/venv/lib/python3.4/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=14706.0, right=14706.0

/Users/diego/Documents/astro/venv/lib/python3.4/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=16052.0, right=16052.0

/Users/diego/Documents/astro/venv/lib/python3.4/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=16053.0, right=16053.0

/Users/diego/Documents/astro/venv/lib/python3.4/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=15976.0, right=15976.0

/Users/diego/Documents/astro/venv/lib/python3.4/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=16003.0, right=16003.0

/Users/diego/Documents/astro/venv/lib/python3.4/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=16079.0, right=16079.0

/Users/diego/Documents/astro/venv/lib/python3.4/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=15420.0, right=15420.0

/Users/diego/Documents/astro/venv/lib/python3.4/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=16070.0, right=16070.0

/Users/diego/Documents/astro/venv/lib/python3.4/site-packages/matplotlib/axes/_base.py:2917: UserWarning:

Attempting to set identical left==right results
in singular transformations; automatically expanding.
left=16073.0, right=16073.0