In [1]:
In [1]: %load_ext autoreload
In [2]: %autoreload 2

In [2]:
from tools import download, time

## 1. Load Data

### Load Objects Catalogue

In [3]:
df_objects = time.time(
    download.all_objects_catalog,
    overwrite=False
)

0:00:00.008698

In [4]:
df_objects.head()

                           clas         date       dec         ra        Type
0              SN SDSS mag 20,8  20161109.49  20.60814  142.63453  SUPERNOVAE
1      SN (ATLAS16dsr) SDSS mag  20161109.24  13.91412   57.65194  SUPERNOVAE
2      SN (ATLAS16dtz) mag 14,5  20161108.48  55.58309  141.31900  SUPERNOVAE
3               SN SDSS mag >22  20161107.28  23.18541   21.02794  SUPERNOVAE
4  SN (MLS161020) SDSS mag 21,4  20161106.22  20.34622   10.39148  SUPERNOVAE

### Load Light Curves

In [5]:
done = False
while not done:
    try:
        df_light_curves = time.time(
            download.all_objects_light_curves,
            df_objects,
            overwrite=False
        )
        done = True
    except Exception as e:
        print('Exception: {}'.format(e))

WARNING: OverflowError converting to IntType in column ID, reverting to String. [astropy.io.ascii.fastbasic]

Num. of light curve points : 7337
Num. of light curve points : 12770
Num. of light curve points : 17582
Num. of light curve points : 25050
Num. of light curve points : 31968
Num. of light curve points : 36073
Num. of light curve points : 43399
Num. of light curve points : 49639
Num. of light curve points : 59833
Num. of light curve points : 67777
Num. of light curve points : 74775
Num. of light curve points : 81272
Num. of light curve points : 88614
Num. of light curve points : 97249
Num. of light curve points : 102528
Num. of light curve points : 107113
Num. of light curve points : 111710
Num. of light curve points : 119021
Num. of light curve points : 126990
Num. of light curve points : 133611
Num. of light curve points : 141903
Num. of light curve points : 149926
Num. of light curve points : 156989
Num. of light curve points : 164841
Num. of light curve points : 171786
Num. of light curve points : 178642
Num. of light curve points : 182195
Num. of light curve points : 191735
Num. of light curve points : 203102
Num. of light curve points : 215144
Num. of light curve points : 231366
Num. of light curve points : 244925
Num. of light curve points : 262067
Num. of light curve points : 281929
Num. of light curve points : 298599
Num. of light curve points : 317127
Num. of light curve points : 331923
Num. of light curve points : 353635
Num. of light curve points : 366052
Num. of light curve points : 376517
Num. of light curve points : 387946
Num. of light curve points : 411687
Num. of light curve points : 435658
Num. of light curve points : 461236
Num. of light curve points : 481587
Num. of light curve points : 500276
Num. of light curve points : 516577
Num. of light curve points : 536049
Num. of light curve points : 554559
Num. of light curve points : 572615
Num. of light curve points : 589627
Num. of light curve points : 604107
Num. of light curve points : 624177
Num. of light curve points : 643834
Num. of light curve points : 660134
Num. of light curve points : 676764
Num. of light curve points : 688637
Num. of light curve points : 705990
Num. of light curve points : 718797
Num. of light curve points : 734954
Num. of light curve points : 752361
Num. of light curve points : 766110
Num. of light curve points : 779805
Num. of light curve points : 797150
Num. of light curve points : 815146
Num. of light curve points : 827385
Num. of light curve points : 840626
Num. of light curve points : 855875
Num. of light curve points : 871321
Num. of light curve points : 888731
Num. of light curve points : 903441
Num. of light curve points : 917878
Num. of light curve points : 930703
Num. of light curve points : 943763
Num. of light curve points : 962787
Num. of light curve points : 978712
Num. of light curve points : 990819
Num. of light curve points : 1003289
Num. of light curve points : 1012587
Num. of light curve points : 1017673
0:00:37.713395

In [6]:
df_light_curves.head()

,InputID,ID,Mag,Magerr,RA,Decl,MJD,Blend
0,0,1121048016831,21.15,0.52,142.63264,20.60759,53739.39280,0
1,0,1121048016831,20.31,0.33,142.63520,20.60753,53761.33345,0
2,0,1121048016831,20.73,0.45,142.63637,20.60929,53875.18592,0
3,0,1121048016831,20.37,0.32,142.63480,20.60820,54054.46708,0
4,0,1121048016831,20.44,0.36,142.63371,20.60857,54197.14661,0

In [7]:
df_light_curves.groupby(['InputID'])['Mag'].count().describe()

count    7835.000000
mean      129.888066
std       131.746206
min         1.000000
25%        28.000000
50%        83.000000
75%       195.000000
max       922.000000
Name: Mag, dtype: float64

## 2. Object Catalog Statistics by Type

### Supernovae

In [8]:
df_objects_supernovae = df_objects[df_objects['Type'] =='SUPERNOVAE']
df_objects_supernovae.head()

                           clas         date       dec         ra        Type
0              SN SDSS mag 20,8  20161109.49  20.60814  142.63453  SUPERNOVAE
1      SN (ATLAS16dsr) SDSS mag  20161109.24  13.91412   57.65194  SUPERNOVAE
2      SN (ATLAS16dtz) mag 14,5  20161108.48  55.58309  141.31900  SUPERNOVAE
3               SN SDSS mag >22  20161107.28  23.18541   21.02794  SUPERNOVAE
4  SN (MLS161020) SDSS mag 21,4  20161106.22  20.34622   10.39148  SUPERNOVAE

In [9]:
df_objects_supernovae.count()

clas    2714
date    2714
dec     2714
ra      2714
Type    2714
dtype: int64

### Cataclysmic Variable Stars

In [10]:
df_objects_cv = df_objects[df_objects['Type'] =='CV']
df_objects_cv.head()

                       clas      date       dec         ra Type
2714      CV SDSS mag >22,5  20161109  61.47645  157.35429   CV
2715       CV SDSS mag 21,8  20161109   0.22334  127.37297   CV
2716              CV mag 21  20161023  57.38627   99.82350   CV
2717  CV (PS1_15aaf) mag 21  20161013  57.27874   93.68036   CV
2718       CV SDSS mag 21,2  20161012  61.40397  139.18290   CV

In [11]:
df_objects_cv.count()

clas    1362
date    1362
dec     1362
ra      1362
Type    1362
dtype: int64

### Blazars

In [12]:
df_objects_blazars = df_objects[df_objects['Type'] =='BLAZARS']
df_objects_blazars.head()

                                 clas      date        dec         ra     Type
4076              Blazar PKS_2247-131  20161009  -12.85467  342.49855  BLAZARS
4077  Blazar (0748+333) SDSS mag 19,6  20161007   33.22214  117.97364  BLAZARS
4078         Blazar CRATES_J0001+2113  20160709   21.22680    0.38474  BLAZARS
4079             Blazar SDSS mag 21,3  20160708   52.82354  212.85706  BLAZARS
4080             Blazar SDSS mag 19,6  20160616    9.97402  177.82208  BLAZARS

In [13]:
df_objects_blazars.count()

clas    396
date    396
dec     396
ra      396
Type    396
dtype: int64

### AGNs

In [14]:
df_objects_agn = df_objects[df_objects['Type'] =='AGN']
df_objects_agn.head()

                   clas      date       dec         ra Type
4472  AGN SDSS mag 21,3  20161107  19.57569   24.14416  AGN
4473  AGN SDSS mag 22,0  20161107   0.63542   22.13552  AGN
4474  AGN SDSS mag 20,4  20160904  -9.70794   30.53147  AGN
4475  AGN SDSS mag 21,1  20160903  -5.47395  347.98532  AGN
4476  AGN SDSS mag 20,1  20160710  35.99400  254.28421  AGN

In [15]:
df_objects_agn.count()

clas    3471
date    3471
dec     3471
ra      3471
Type    3471
dtype: int64

## 3. Light Curves Catalog Statistics by Type

### Supernovae

In [77]:
df_light_curves_supernovae = df_light_curves[df_light_curves['InputID'].isin(df_objects_supernovae.index)]
df_light_curves_supernovae.head()

,InputID,ID,Mag,Magerr,RA,Decl,MJD,Blend
0,0,1121048016831,21.15,0.52,142.63264,20.60759,53739.39280,0
1,0,1121048016831,20.31,0.33,142.63520,20.60753,53761.33345,0
2,0,1121048016831,20.73,0.45,142.63637,20.60929,53875.18592,0
3,0,1121048016831,20.37,0.32,142.63480,20.60820,54054.46708,0
4,0,1121048016831,20.44,0.36,142.63371,20.60857,54197.14661,0

In [78]:
df_light_curves_supernovae.count()

InputID    97249
ID         97249
Mag        97249
Magerr     97249
RA         97249
Decl       97249
MJD        97249
Blend      97249
dtype: int64

In [18]:
len(df_light_curves_supernovae.InputID.unique())

1319

In [93]:
series_light_curves_supernovae_grouped = df_light_curves_supernovae.groupby(['InputID'])['Mag'].count()

In [94]:
series_light_curves_supernovae_grouped.describe()

count    1319.000000
mean       73.729340
std       105.498011
min         1.000000
25%         9.000000
50%        23.000000
75%        86.500000
max       616.000000
Name: Mag, dtype: float64

In [95]:
len(series_light_curves_supernovae_grouped[series_light_curves_supernovae_grouped > 10].index)

943

### Cataclysmic Variable Stars

In [79]:
df_light_curves_cv = df_light_curves[df_light_curves['InputID'].isin(df_objects_cv.index)]
df_light_curves_cv.head()

,InputID,ID,Mag,Magerr,RA,Decl,MJD,Blend
97249,2800,1140004059352,20.08,0.28,12.23016,41.34421,53708.14295,0
97250,2800,1140004059352,19.99,0.27,12.23012,41.34408,53708.15267,0
97251,2800,1140004059352,19.66,0.23,12.22956,41.34422,53708.16197,0
97252,2800,1140004059352,20.00,0.28,12.23026,41.34410,53708.17090,0
97253,2800,1140004059352,19.37,0.20,12.22987,41.34362,53714.15521,0

In [21]:
df_light_curves_cv.count()

InputID    42751
ID         42751
Mag        42751
Magerr     42751
RA         42751
Decl       42751
MJD        42751
Blend      42751
dtype: int64

In [22]:
len(df_light_curves_cv.InputID.unique())

669

In [91]:
series_light_curves_cv_grouped = df_light_curves_cv.groupby(['InputID'])['Mag'].count()

In [92]:
series_light_curves_cv_grouped.describe()

count    669.000000
mean      63.902840
std       93.295701
min        1.000000
25%       12.000000
50%       27.000000
75%       73.000000
max      671.000000
Name: Mag, dtype: float64

In [85]:
len(series_light_curves_cv_grouped[series_light_curves_cv_grouped > 10].index)

520

### Blazars

In [90]:
df_light_curves_blazars = df_light_curves[df_light_curves['InputID'].isin(df_objects_blazars.index)]
df_light_curves_blazars.head()

,InputID,ID,Mag,Magerr,RA,Decl,MJD,Blend
140000,4076,2113132008493,20.89,0.20,146.23292,13.32041,53710.49452,0
140001,4076,2113132008493,21.50,0.27,146.23305,13.32042,53710.49893,0
140002,4076,2113132008493,21.42,0.26,146.23308,13.32045,53710.50338,0
140003,4076,2113132008493,21.26,0.25,146.23300,13.32034,53710.50781,0
140004,4076,2113132008493,21.58,0.29,146.23282,13.32056,53731.45375,0

In [25]:
df_light_curves_blazars.count()

InputID    14583
ID         14583
Mag        14583
Magerr     14583
RA         14583
Decl       14583
MJD        14583
Blend      14583
dtype: int64

In [26]:
len(df_light_curves_blazars.InputID.unique())

196

In [96]:
series_light_curves_blazars_grouped = df_light_curves_blazars.groupby(['InputID'])['Mag'].count()

In [97]:
series_light_curves_blazars_grouped.describe()

count    196.000000
mean      74.403061
std       94.524645
min        3.000000
25%       15.750000
50%       35.000000
75%       84.000000
max      524.000000
Name: Mag, dtype: float64

In [98]:
len(series_light_curves_blazars_grouped[series_light_curves_blazars_grouped > 10].index)

169

### AGN

In [28]:
df_light_curves_agn = df_light_curves[df_light_curves['InputID'].isin(df_objects_agn.index.tolist())]
df_light_curves_agn.head()

,InputID,ID,Mag,Magerr,RA,Decl,MJD,Blend
154583,4472,2007172009742,21.33,0.25,186.10381,-7.16404,54552.32168,0
154584,4472,2007172009742,22.04,0.35,186.10391,-7.16393,54552.33146,0
154585,4472,2007172009742,22.17,0.41,186.10362,-7.16396,55650.24061,0
154586,4472,2007172009742,21.66,0.31,186.10382,-7.16386,55650.24957,0
154587,4472,2007172009742,21.60,0.30,186.10386,-7.16391,55650.25484,0

In [29]:
df_light_curves_agn.count()

InputID    221934
ID         221934
Mag        221934
Magerr     221934
RA         221934
Decl       221934
MJD        221934
Blend      221934
dtype: int64

In [30]:
len(df_light_curves_agn.InputID.unique())

1710

In [101]:
series_light_curves_agn_grouped = df_light_curves_agn.groupby(['InputID'])['Mag'].count()

In [102]:
series_light_curves_agn_grouped.describe()

count    1710.000000
mean      129.785965
std       145.725484
min         1.000000
25%        19.000000
50%        62.000000
75%       214.000000
max       904.000000
Name: Mag, dtype: float64

In [103]:
len(series_light_curves_agn_grouped[series_light_curves_agn_grouped > 10].index)

1475

## 4. Light Curves Visualization

In [32]:
from tools import visualize
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

### Supernovae

In [44]:
index_supernovae_light_curve = 0
# Get sample
df_light_curves_supernovae_sample = df_light_curves_supernovae[
    df_light_curves_supernovae['InputID'] == df_light_curves_supernovae.InputID.unique()[index_supernovae_light_curve]
]

In [45]:
iplot([visualize.light_curve_interactive_scatter(df_light_curves_supernovae_sample)])

### Cataclysmic Variable Stars

In [46]:
index_cv_light_curve = 0
# Get sample
df_light_curves_cv_sample = df_light_curves_cv[
    df_light_curves_cv['InputID'] == df_light_curves_cv.InputID.unique()[index_cv_light_curve]
]

In [47]:
iplot([visualize.light_curve_interactive_scatter(df_light_curves_cv_sample)])

### Blazars

In [62]:
index_blazars_light_curve = 0
# Get sample
df_light_curves_blazars_sample = df_light_curves_blazars[
    df_light_curves_blazars['InputID'] == df_light_curves_blazars.InputID.unique()[index_blazars_light_curve]
]

In [63]:
iplot([visualize.light_curve_interactive_scatter(df_light_curves_blazars_sample)])

In [64]:
index_agn_light_curve = 0
# Get sample
df_light_curves_agn_sample = df_light_curves_agn[
    df_light_curves_agn['InputID'] == df_light_curves_agn.InputID.unique()[index_agn_light_curve]
]

In [65]:
iplot([visualize.light_curve_interactive_scatter(df_light_curves_agn_sample)])