In [118]:
In [1]: %load_ext autoreload
In [2]: %autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [119]:
from tools import download, time

## 1. Load Data

### Load Objects Catalogue

In [120]:
df_objects = time.time(
    download.all_objects_catalog,
    overwrite=False
)

0:00:00.006398

In [121]:
df_objects.head()

                           clas         date       dec         ra        Type
0              SN SDSS mag 20,8  20161109.49  20.60814  142.63453  SUPERNOVAE
1      SN (ATLAS16dsr) SDSS mag  20161109.24  13.91412   57.65194  SUPERNOVAE
2      SN (ATLAS16dtz) mag 14,5  20161108.48  55.58309  141.31900  SUPERNOVAE
3               SN SDSS mag >22  20161107.28  23.18541   21.02794  SUPERNOVAE
4  SN (MLS161020) SDSS mag 21,4  20161106.22  20.34622   10.39148  SUPERNOVAE

In [122]:
df_objects.count()

clas    7943
date    7943
dec     7943
ra      7943
Type    7943
dtype: int64

### Load Light Curves

In [138]:
done = False
while not done:
    try:
        df_light_curves = time.time(
            download.all_objects_light_curves,
            df_objects,
            overwrite=True
        )
        done = True
    except Exception as e:
        print('Exception: {}'.format(e))

90
Num. of light curve points : 7337
178
Num. of light curve points : 12770
265
Num. of light curve points : 17582
355
Num. of light curve points : 25050
438
Num. of light curve points : 31968
526
Num. of light curve points : 36073
625
Num. of light curve points : 43399
725
Num. of light curve points : 49639
825
Num. of light curve points : 59833
925
Num. of light curve points : 67777
1025
Num. of light curve points : 74775
1119
Num. of light curve points : 81272
1219
Num. of light curve points : 88614
1319
Num. of light curve points : 97249
1419
Num. of light curve points : 102528
1519
Num. of light curve points : 107113
1619
Num. of light curve points : 111710
1718
Num. of light curve points : 119021
1816
Num. of light curve points : 126990
1913
Num. of light curve points : 133611
2012
Num. of light curve points : 141903
2112
Num. of light curve points : 149926
2212
Num. of light curve points : 156989
2312
Num. of light curve points : 164841
2412
Num. of light curve points : 171786
2512
Num. of light curve points : 178642
2611
Num. of light curve points : 182195
2703
Num. of light curve points : 191735
2799
Num. of light curve points : 203102
2897
Num. of light curve points : 215144
2997
Num. of light curve points : 231366
3097
Num. of light curve points : 244925
3197
Num. of light curve points : 262067
3297
Num. of light curve points : 281929
3396
Num. of light curve points : 298599
3496
Num. of light curve points : 317127
3596
Num. of light curve points : 331923
3696
Num. of light curve points : 353635
3795
Num. of light curve points : 366052
3894
Num. of light curve points : 376517
3994
Num. of light curve points : 387946
4093
Num. of light curve points : 411687
4193
Num. of light curve points : 435658
4293
Num. of light curve points : 461236
4393
Num. of light curve points : 481587
4493
Num. of light curve points : 500276
4593
Num. of light curve points : 516577
4693
Num. of light curve points : 536049
4793
Num. of light curve points : 554559
4893
Num. of light curve points : 572615
4993
Num. of light curve points : 589627
5093
Num. of light curve points : 604107
5193
Num. of light curve points : 624177
5292
Num. of light curve points : 643834
5392
Num. of light curve points : 660134
5492
Num. of light curve points : 676764
5592
Num. of light curve points : 688637
5692
Num. of light curve points : 705990
5792
Num. of light curve points : 718797
5892
Num. of light curve points : 734954
5992
Num. of light curve points : 752361
6092
Num. of light curve points : 766110
6192
Num. of light curve points : 779805
6292
Num. of light curve points : 797150
6392
Num. of light curve points : 815146
6492
Num. of light curve points : 827385
6592
Num. of light curve points : 840626
6692
Num. of light curve points : 855875
6792
Num. of light curve points : 871321
6892
Num. of light curve points : 888731
6992
Num. of light curve points : 903441
7092
Num. of light curve points : 917878
7192
Num. of light curve points : 930703
7292
Num. of light curve points : 943763
7392
Num. of light curve points : 962787
7492
Num. of light curve points : 978712
7592
Num. of light curve points : 990819
7692
Num. of light curve points : 1003289
7792
Num. of light curve points : 1012587
7835
Num. of light curve points : 1017673
0:00:36.874989

In [139]:
df_light_curves.head()

,ObjectID,ID,Mag,Magerr,RA,Decl,MJD,Blend
0,0,1121048016831,21.15,0.52,142.63264,20.60759,53739.39280,0
1,0,1121048016831,20.31,0.33,142.63520,20.60753,53761.33345,0
2,0,1121048016831,20.73,0.45,142.63637,20.60929,53875.18592,0
3,0,1121048016831,20.37,0.32,142.63480,20.60820,54054.46708,0
4,0,1121048016831,20.44,0.36,142.63371,20.60857,54197.14661,0

In [187]:
df_light_curves.ID.count()

1017673

In [188]:
df_light_curves.groupby(['ObjectID']).ID.count().describe()

count    7835.000000
mean      129.888066
std       131.746206
min         1.000000
25%        28.000000
50%        83.000000
75%       195.000000
max       922.000000
Name: ID, dtype: float64

In [140]:
len(df_light_curves.ObjectID.unique())

7835

## 2. Object Catalog Statistics by Type

### Supernovae

In [86]:
df_objects_supernovae = df_objects[df_objects.Type =='SUPERNOVAE']
df_objects_supernovae.head()

                           clas         date       dec         ra        Type
0              SN SDSS mag 20,8  20161109.49  20.60814  142.63453  SUPERNOVAE
1      SN (ATLAS16dsr) SDSS mag  20161109.24  13.91412   57.65194  SUPERNOVAE
2      SN (ATLAS16dtz) mag 14,5  20161108.48  55.58309  141.31900  SUPERNOVAE
3               SN SDSS mag >22  20161107.28  23.18541   21.02794  SUPERNOVAE
4  SN (MLS161020) SDSS mag 21,4  20161106.22  20.34622   10.39148  SUPERNOVAE

In [87]:
df_objects_supernovae.count()

clas    2714
date    2714
dec     2714
ra      2714
Type    2714
dtype: int64

### Cataclysmic Variable Stars

In [88]:
df_objects_cv = df_objects[df_objects.Type =='CV']
df_objects_cv.head()

                       clas      date       dec         ra Type
2714      CV SDSS mag >22,5  20161109  61.47645  157.35429   CV
2715       CV SDSS mag 21,8  20161109   0.22334  127.37297   CV
2716              CV mag 21  20161023  57.38627   99.82350   CV
2717  CV (PS1_15aaf) mag 21  20161013  57.27874   93.68036   CV
2718       CV SDSS mag 21,2  20161012  61.40397  139.18290   CV

In [147]:
df_objects_cv.count()

clas    1362
date    1362
dec     1362
ra      1362
Type    1362
dtype: int64

### Blazars

In [148]:
df_objects_blazars = df_objects[df_objects.Type =='BLAZARS']
df_objects_blazars.head()

                                 clas      date        dec         ra     Type
4076              Blazar PKS_2247-131  20161009  -12.85467  342.49855  BLAZARS
4077  Blazar (0748+333) SDSS mag 19,6  20161007   33.22214  117.97364  BLAZARS
4078         Blazar CRATES_J0001+2113  20160709   21.22680    0.38474  BLAZARS
4079             Blazar SDSS mag 21,3  20160708   52.82354  212.85706  BLAZARS
4080             Blazar SDSS mag 19,6  20160616    9.97402  177.82208  BLAZARS

In [149]:
df_objects_blazars.count()

clas    396
date    396
dec     396
ra      396
Type    396
dtype: int64

### AGNs

In [150]:
df_objects_agn = df_objects[df_objects.Type =='AGN']
df_objects_agn.head()

                   clas      date       dec         ra Type
4472  AGN SDSS mag 21,3  20161107  19.57569   24.14416  AGN
4473  AGN SDSS mag 22,0  20161107   0.63542   22.13552  AGN
4474  AGN SDSS mag 20,4  20160904  -9.70794   30.53147  AGN
4475  AGN SDSS mag 21,1  20160903  -5.47395  347.98532  AGN
4476  AGN SDSS mag 20,1  20160710  35.99400  254.28421  AGN

In [151]:
df_objects_agn.count()

clas    3471
date    3471
dec     3471
ra      3471
Type    3471
dtype: int64

## 3. Light Curves Catalog Statistics by Type

### Supernovae

In [152]:
df_light_curves_supernovae = df_light_curves[df_light_curves.ObjectID.isin(df_objects_supernovae.index)]
df_light_curves_supernovae.head()

,ObjectID,ID,Mag,Magerr,RA,Decl,MJD,Blend
0,0,1121048016831,21.15,0.52,142.63264,20.60759,53739.39280,0
1,0,1121048016831,20.31,0.33,142.63520,20.60753,53761.33345,0
2,0,1121048016831,20.73,0.45,142.63637,20.60929,53875.18592,0
3,0,1121048016831,20.37,0.32,142.63480,20.60820,54054.46708,0
4,0,1121048016831,20.44,0.36,142.63371,20.60857,54197.14661,0

In [153]:
df_light_curves_supernovae.count()

ObjectID    183080
ID          183080
Mag         183080
Magerr      183080
RA          183080
Decl        183080
MJD         183080
Blend       183080
dtype: int64

In [154]:
series_light_curves_supernovae_grouped = df_light_curves_supernovae.groupby(['ObjectID']).Mag.count()

In [155]:
series_light_curves_supernovae_grouped.describe()

count    2625.000000
mean       69.744762
std        99.119064
min         1.000000
25%        11.000000
50%        26.000000
75%        80.000000
max       671.000000
Name: Mag, dtype: float64

In [156]:
len(series_light_curves_supernovae_grouped[series_light_curves_supernovae_grouped > 10].index)

1995

### Cataclysmic Variable Stars

In [157]:
df_light_curves_cv = df_light_curves[df_light_curves.ObjectID.isin(df_objects_cv.index)]
df_light_curves_cv.head()

,ObjectID,ID,Mag,Magerr,RA,Decl,MJD,Blend
183080,2714,6011116002931020219,19.070527,0.207620,157.35316,61.47558,53746.274027,0
183081,2715,11012510104641005092,20.099937,0.344394,127.37181,0.22320,55586.334373,0
183082,2715,9042010104621003854,20.954769,0.531688,127.37287,0.22300,54941.139811,0
183083,2716,13101615702032023407,20.658646,0.432848,99.82311,57.38648,56581.434008,0
183084,2716,10031815702011022420,20.589015,0.406931,99.82317,57.38622,55273.169179,0

In [159]:
df_light_curves_cv.count()

ObjectID    201090
ID          201090
Mag         201090
Magerr      201090
RA          201090
Decl        201090
MJD         201090
Blend       201090
dtype: int64

In [160]:
series_light_curves_cv_grouped = df_light_curves_cv.groupby(['ObjectID']).Mag.count()

In [161]:
series_light_curves_cv_grouped.describe()

count    1345.000000
mean      149.509294
std       152.562166
min         1.000000
25%        21.000000
50%        92.000000
75%       251.000000
max       904.000000
Name: Mag, dtype: float64

In [162]:
len(series_light_curves_cv_grouped[series_light_curves_cv_grouped > 10].index)

1181

### Blazars

In [164]:
df_light_curves_blazars = df_light_curves[df_light_curves.ObjectID.isin(df_objects_blazars.index)]
df_light_curves_blazars.head()

,ObjectID,ID,Mag,Magerr,RA,Decl,MJD,Blend
384170,4076,12091901212031023084,19.169053,0.212302,342.49776,-12.85600,56189.270321,0
384171,4076,10100101212031019387,20.429292,0.479209,342.49803,-12.85488,55470.244969,0
384172,4076,13102501212011021450,20.777713,0.509270,342.49803,-12.85499,56590.129157,0
384173,4076,13093001212011020719,20.178060,0.347259,342.49817,-12.85484,56565.216036,0
384174,4076,13093001212021021007,19.945571,0.305662,342.49860,-12.85484,56565.221072,0

In [165]:
df_light_curves_blazars.count()

ObjectID    93697
ID          93697
Mag         93697
Magerr      93697
RA          93697
Decl        93697
MJD         93697
Blend       93697
dtype: int64

In [167]:
series_light_curves_blazars_grouped = df_light_curves_blazars.groupby(['ObjectID']).Mag.count()

In [168]:
series_light_curves_blazars_grouped.describe()

count    395.000000
mean     237.207595
std      160.494659
min        3.000000
25%      102.500000
50%      224.000000
75%      331.000000
max      730.000000
Name: Mag, dtype: float64

In [169]:
len(series_light_curves_blazars_grouped[series_light_curves_blazars_grouped > 10].index)

390

### AGN

In [171]:
df_light_curves_agn = df_light_curves[df_light_curves.ObjectID.isin(df_objects_agn.index.tolist())]
df_light_curves_agn.head()

,ObjectID,ID,Mag,Magerr,RA,Decl,MJD,Blend
477867,4472,2120022002399,21.53,0.27,24.14481,19.57607,54450.24708,0
477868,4472,2120022002399,22.29,0.40,24.14406,19.57609,54450.26080,0
477869,4472,2120022002399,22.60,0.48,24.14416,19.57507,54450.26080,1
477870,4472,2120022002399,22.22,0.39,24.14430,19.57526,54468.12235,0
477871,4472,2120022002399,21.61,0.28,24.14488,19.57647,54779.10981,0

In [172]:
df_light_curves_agn.count()

ObjectID    539806
ID          539806
Mag         539806
Magerr      539806
RA          539806
Decl        539806
MJD         539806
Blend       539806
dtype: int64

In [176]:
series_light_curves_agn_grouped = df_light_curves_agn.groupby(['ObjectID']).Mag.count()

In [177]:
series_light_curves_agn_grouped.describe()

count    3470.000000
mean      155.563689
std       122.332936
min         1.000000
25%        65.000000
50%       124.000000
75%       211.000000
max       922.000000
Name: Mag, dtype: float64

In [178]:
len(series_light_curves_agn_grouped[series_light_curves_agn_grouped > 10].index)

3448

## 4. Light Curves Visualization

In [191]:
from tools import visualize
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

### Supernovae

In [213]:
index_supernovae_light_curve = 10
# Get sample
df_light_curves_supernovae_sample = df_light_curves_supernovae[
    df_light_curves_supernovae.ObjectID == df_light_curves_supernovae.ObjectID.unique()[index_supernovae_light_curve]
]

In [214]:
iplot([visualize.light_curve_interactive_scatter(df_light_curves_supernovae_sample)])

### Cataclysmic Variable Stars

In [211]:
index_cv_light_curve = 10
# Get sample
df_light_curves_cv_sample = df_light_curves_cv[
    df_light_curves_cv.ObjectID == df_light_curves_cv.ObjectID.unique()[index_cv_light_curve]
]

In [212]:
iplot([visualize.light_curve_interactive_scatter(df_light_curves_cv_sample)])

### Blazars

In [207]:
index_blazars_light_curve = 10
# Get sample
df_light_curves_blazars_sample = df_light_curves_blazars[
    df_light_curves_blazars.ObjectID == df_light_curves_blazars.ObjectID.unique()[index_blazars_light_curve]
]

In [208]:
iplot([visualize.light_curve_interactive_scatter(df_light_curves_blazars_sample)])

In [209]:
index_agn_light_curve = 10
# Get sample
df_light_curves_agn_sample = df_light_curves_agn[
    df_light_curves_agn.ObjectID == df_light_curves_agn.ObjectID.unique()[index_agn_light_curve]
]

In [210]:
iplot([visualize.light_curve_interactive_scatter(df_light_curves_agn_sample)])